// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.swift-ref {
  height: 100%;

  .select-list {
    .flex-header;
  }

  pre {
    word-wrap: normal;
  }
}

.flex-header {
  flex-shrink: 0;
}

.flex-body {
  flex: 1;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.content-container {
  flex: 1;
  overflow: auto;
}
